In [1]:
import sqlite3
import pandas as pd

In [9]:
# connect to datbase
conn=sqlite3.connect('sqlite3.db')
cursor=conn.cursor()

#create a table

cursor.execute('''create table if not exists users(
              stu_id integer PRIMARY KEY AUTOINCREMENT,
               name varchar(20) not null,
               age int not null
              )''')

conn.commit()

In [13]:
# inserting the vlaues using list

users_list = [
    ('Alice', 25),
    ('bob', 30),
    ('charlie', 25)
]

# insert users into table
cursor.executemany('INSERT INTO users (name, age) VALUES (?, ?)', users_list)
conn.commit()

In [16]:
using_dict = [
    {'name': 'sam', 'age': 20},
    {'name': 'natrajan', 'age': 60}
]
#Insert inot using a loop 
for user in using_dict:
    name = user['name']
    age = user['age']
    cursor.execute('INSERT INTO users (name, age) VALUES (?, ?)', (name, age))

conn.commit()

In [15]:
!pip  install numpy

Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (1.23.5)

In [18]:
import numpy as np

In [20]:
cursor.execute('SELECT * FROM users')
rows=cursor.fetchall()
print(rows)

data_array=np.array(rows)
print(data_array)

[(1, 'Alice', 25), (2, 'bob', 30), (3, 'charlie', 25), (4, 'sam', 20), (5, 'natrajan', 60)]
[['1' 'Alice' '25']
 ['2' 'bob' '30']
 ['3' 'charlie' '25']
 ['4' 'sam' '20']
 ['5' 'natrajan' '60']]

# Table 2 finding maximum

In [24]:
cursor.execute('''CREATE TABLE IF NOT EXISTS numbers (
                    id INTEGER PRIMARY KEY,
                    value INTEGER
                )''')

# Define values to insert
values_to_insert = [(10,), (20,), (5,), (50,), (25,)]

# Insert values using executemany
cursor.executemany('INSERT INTO numbers (value) VALUES (?)', values_to_insert)

# Commit changes
conn.commit()

In [26]:
#finding max value from the table

cursor.execute('SELECT MAX(value) from numbers')
#fetch the result
max_value=cursor.fetchone()[0]

#print the result
print("Maximum value: ",max_value)

#close the cursor

cursor.close()
conn.close()

Maximum value:  50


# Table 3 (inner join)

In [32]:
import sqlite3

# Connect to the database (assuming example.db exists)
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create tables if they do not exist
cursor.execute('''CREATE TABLE IF NOT EXISTS departments (
                    id INTEGER PRIMARY KEY,
                    department_name TEXT
                )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    department_id INTEGER,
                    FOREIGN KEY (department_id) REFERENCES departments(id)
                )''')

# Insert sample data into departments table
cursor.execute('INSERT INTO departments (department_name) VALUES ("HR")')
cursor.execute('INSERT INTO departments (department_name) VALUES ("Engineering")')

# Insert sample data into employees table
cursor.execute('INSERT INTO employees (name, department_id) VALUES ("JOHN", 1)')
cursor.execute('INSERT INTO employees (name, department_id) VALUES ("kumar", 2)')
cursor.execute('INSERT INTO employees (name, department_id) VALUES ("SAM", 1)')

# Commit changes
conn.commit()

In [34]:
query = '''
SELECT employees.name, departments.department_name
FROM employees
INNER JOIN departments ON employees.department_id = departments.id
'''

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Print or process results as needed
for row in results:
    print(row)  # Example: printing each row

# Close the connection
conn.close()

('JOHN', 'HR')
('kumar', 'Engineering')
('SAM', 'HR')
('JOHN', 'HR')
('kumar', 'Engineering')
('SAM', 'HR')